@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.logo-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    /* border: 1px solid white; */
}
 .logo-title-container > img{
    padding: 0px 8px;
    border-radius: 23px;

}
.logo{
    display: flex;
    gap: 8px;
    align-items: center;
} 